<div class="info-wrapper">
    <!-- <div class="badge"> -->
    <embed  src="/img/new/point_badge2.svg"/>
    <div class="info">
        붐업에서의 활동으로 <strong>붐포인트</strong>를 모아보세요
    </div>
    <div class="img">
        <embed  src="/img/new/point_img.svg"/>
    </div>
    <embed  src="/img/new/level_badge.svg"/>
    <div class="info">
        붐포인트로 게시물에 배팅을 하고<br>
        게시물이 <strong>랭킹100 순위권</strong>에 들어가게 되면<br>
        나에게 배당금이 돌아와요
    </div>
    <div class="sub-info">
        배당금이 쌓일때마다 레벨UP!
    </div>
    <div class="img">
        <embed  src="/img/new/coin_graph.svg"/>
    </div>
    <embed  src="/img/new/coin_badge.svg"/>
    <div class="info">
        배당금이 12만원 이상 모이게되면<br>
        붐코인으로 교환할 수 있어요
    </div>
    <div class="img">
        <embed  src="/img/new/coin_img.svg"/>
    </div>
</div>