<div class="info-wrapper">
    <div class="chart">
        <img src="/img/new/donut_chart.svg"/>
    </div>
    <div class="info">
        붐포인트로 <strong>게시물</strong>에 <strong>베팅</strong>을 하고<br>배당금을 받아서 붐코인(가상화폐)으로 교환!
    </div>
</div>