<!DOCTYPE html>

<html lang="ko" class="default-style layout-fixed layout-navbar-fixed navbar-fixed-bottom">

    <head>
        <%-include('../_layouts/header')%>
    </head>

    <body class="m-0 p-0 vh-100 terms">
        <!-- Content -->
        <%-include('./__privacy')%>
        <!-- Content -->

        <%-include('../_layouts/layout_bodyscript')%>
        <%-include('../_layouts/layout_bodyend')%>
    </body>

</html>